@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Spartan:300,400&display=swap');

body {
  margin: 1.5em;
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: 'Spartan', sans-serif;
  color: #424246;
}

button.navigate{
  background-color: #045206;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
}

button:focus{
  outline: 3px solid #424246;
}