@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Spartan:300,400&display=swap');

body {
  margin: 2em;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8ff ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: 'Spartan', sans-serif;
}