section.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.game > div.game-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.game > div.game-header > h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2em;
}

section.game div.plant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em;
}

section.game div.game-play {
    display: flex;
    flex-direction: row;
}

