form.quiz-player-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 1em;
}

form.quiz-player-name > label{
    font-size: 2em;
    margin: 10px;
}

form.quiz-player-name > input{
    margin: 5px 0;
}

form.quiz-player-name > input.name-box{
    width: 200px;
    height: 20px;
    color:#045206;
}

form.quiz-player-name > input.submit-name{
    background-color: #045206;
    color: white;
    width: 75px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}