article.plant-info {
    max-width: 45em;
    margin: 20px auto;
    display: flex;
    flex-direction: column;

}

article.plant-info > h1, h2 {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;
}

article.plant-info > h2 {
    font-size: 1em;
    font-style: italic;
    color: #045206;
}

article.plant-info > section.plant-facts {
    display: flex;
    flex-direction: row;
}

section.plant-facts > p{
    padding: 0 20px;
}

article.plant-info > section > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid #DEDEDE;
    margin: 10px;

    min-height: 240px;
    min-width: 300px;
}

article > section > figure > img {
    max-height: 200px;
}

article > section figure > figcaption {
    margin: 10px;
}

article.plant-info > section.plant-care-instructions {
    padding: 10px;
}

article > #plant-info-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

article.plant-info > #plant-info-buttons > button {
    margin: 10px;
}

article.plant-info >  section.plant-care-instructions > dl {
    margin: 0px;
    padding: 10px;
}

article.plant-info dt {
    color: #045206;
    font-weight: 600;
    margin: 10px;
}

article.plant-info >  section.plant-care-instructions > h2 {
    margin: 0px 0px;
}