article.plant-quiz{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

min-width: 450px;
min-height: 250px;
margin: 0 auto;
}

article.plant-quiz > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 5px;
    color: #045206;
}

article.plant-quiz > div > p {
    margin: 5px 7px;
}

article.plant-quiz > div > label {
    margin: 5px 7px;
}

article.plant-quiz > div.quiz-light > input {
    margin: 0px 1px 0px 10px
}

article.plant-quiz > div > button {
    margin: 5px;
    background-color: #045206;
    color: white;
    width: 75px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}

